#videoContainer {
  position: relative;
}

#videoContainer #localVideo {
  width: 100%;
  position: absolute;
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);}

#videoContainer #videoStreamCanvas {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  pointer-events: none;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
} 
